
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.android-large-1-nPH {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0c190d;
  width: 100%;

  .auto-group-j4wb-yyZ {
    flex-direction: column;
    filter: blur(0.2rem);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    padding: 9.5rem 7.055rem 7rem 7.2rem;
    width: 100%;
    display: flex;
    background-position: center;
    background-image: url('REPLACE_IMAGE:706313272adf7abcf12562d6e8eb234b381387f9');
    flex-shrink: 0;
    box-sizing: border-box;

    .logo1-2-zGP {
      width: 29.5rem;
      height: 9.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .life-begins-after-coffee-hAo {
      flex-shrink: 0;
      margin-bottom: 38.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3475;
      text-align: center;
      color: #ffffff;
      font-family: Abril Fatface, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-fun7-kes {
      flex-shrink: 0;
      margin: 0 4.8rem;
      width: calc(100% - 9.6rem);
      height: 12.8rem;
      position: relative;
      background-color: rgba(255, 253, 253, 0.349999994);
      border-radius: 5rem;

      .skroll-down-to-view-offers-menu-gHd {
        font-weight: 700;
        color: #ffffff;
        font-family: Inika, 'Source Sans Pro';
        width: 12.8rem;
        position: absolute;
        top: 1.8rem;
        font-size: 2rem;
        height: 7.9rem;
        left: 3.5rem;
        text-align: center;
        line-height: 1.3025;
      }
      .item--9h1 {
        position: absolute;
        left: 8.4rem;
        line-height: 1.3025;
        white-space: nowrap;
        font-weight: 700;
        color: #ffffff;
        font-family: Inika, 'Source Sans Pro';
        width: 2.3rem;
        height: 3.2rem;
        top: 9.6rem;
        font-size: 2.4rem;
      }
    }
  }
  .auto-group-hocb-ZVq {
    width: 100%;
    height: 100.9rem;
    position: relative;
    flex-shrink: 0;

    .f98542658wsk2qkyqcugmbroilqzhtga1ytnwmgh9-1-5DH {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 36rem;
      height: 46.918rem;
    }
    .f6172381489eurrbnpbne7eqltksorsy085lpp5u4b-1-PDy {
      left: 0;
      top: 46.9rem;
      object-fit: cover;
      vertical-align: top;
      width: 36rem;
      height: 54rem;
      position: absolute;
    }
    .rectangle-2-gis {
      position: absolute;
      left: 7.1rem;
      top: 15.9rem;
      background-color: rgba(12, 25, 13, 0.25);
      border-radius: 10rem;
      width: 21.8rem;
      height: 15.1rem;
    }
    .honey-cake-turcish-coffee-oYb {
      width: 13.1rem;
      left: 11.5rem;
      top: 16.6rem;
      text-align: center;
      line-height: 1.3475;
      height: 8.1rem;
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Abril Fatface, 'Source Sans Pro';
    }
    .le-6nb {
      width: 9.4rem;
      top: 24.7rem;
      color: #ff5b00;
      font-family: Abril Fatface, 'Source Sans Pro';
      height: 4.9rem;
      position: absolute;
      left: 13.3rem;
      text-align: center;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.3475;
      white-space: nowrap;
    }
    .rectangle-3-ybV {
      top: 66.3rem;
      background-color: rgba(12, 25, 13, 0.25);
      border-radius: 10rem;
      width: 21.8rem;
      height: 15.1rem;
      position: absolute;
      left: 7.1rem;
    }
    .honey-cake-latte-Vpj {
      height: 8.1rem;
      position: absolute;
      line-height: 1.3475;
      color: #ffffff;
      width: 10.6rem;
      top: 67rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      font-family: Abril Fatface, 'Source Sans Pro';
      left: 12.1rem;
    }
    .le-yju {
      width: 8.8rem;
      left: 13.6rem;
      top: 74.5rem;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.3475;
      font-family: Abril Fatface, 'Source Sans Pro';
      height: 4.9rem;
      position: absolute;
      text-align: center;
      color: #ff5b00;
      white-space: nowrap;
    }
  }
  .auto-group-tq3v-Tuy {
    flex-shrink: 0;
    width: 100%;
    height: 166.5rem;
    position: relative;

    .a4-3-oyq {
      box-sizing: border-box;
      padding: 0rem 0rem 3.8rem 1.2rem;
      left: 0;
      overflow: hidden;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 36rem;
      height: 84.2rem;
      position: absolute;
      top: 0;
      background-position: center;
      background-image: url('REPLACE_IMAGE:1e00268dcf957b6e05e1fd984c80b437c02429c0');

      .auto-group-f6vd-WdM {
        padding: 1.7rem 0rem 0.15rem 0rem;
        width: 48.9rem;
        margin: 0rem 0rem 2.35rem 0.9rem;
        box-sizing: border-box;

        .logo1-1-p8F {
          height: 9.9rem;
          object-fit: cover;
          vertical-align: top;
          margin-bottom: 3.1rem;
          width: 31.8rem;
        }
        .hot-drinks-k1u {
          margin-left: 9.1rem;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.36;
          color: #ffffff;
          font-family: Grand Hotel, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-acym-4YP {
        width: calc(100% - 1.1rem);
        display: flex;
        align-items: center;
        margin-right: 1.1rem;

        .espresso-s-espresso-d-macchato-s-macchato-d-caramel-macchato-cortado-americano-lotus-latte-hot-chocolate-apple-cider-flat-white-cappuccino-mocha-latte-turkish-coffee-s-turkish-coffee-d-flavored-coffee-s-flavored-coffee-d-tea-herbs-tea-flavored-zgw {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.48;
          color: #ffffff;
          font-family: Grenze, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 14.7rem;
          max-width: 17rem;
        }
        .item-25-35-35-42-60-40-30-60-45-40-40-50-55-50-25-35-35-45-18-28-zaT {
          font-weight: 400;
          line-height: 1.48;
          color: #ffffff;
          font-family: Grenze, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 2rem;
          font-size: 2rem;
        }
      }
    }
    .a4-1-SxF {
      overflow: hidden;
      background-position: center;
      background-image: url('REPLACE_IMAGE:82fa71c9f4e56ac6cc8e427032263a16a0f3bf3c');
      width: 36rem;
      height: 84.2rem;
      left: 0;
      top: 82.3rem;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .logo1-1-aYf {
        position: absolute;
        left: 2.1rem;
        top: 3.7rem;
        object-fit: cover;
        vertical-align: top;
        width: 31.8rem;
        height: 9.9rem;
      }
      .cold-drinks-gbh {
        font-weight: 400;
        color: #ffffff;
        font-family: Grand Hotel, 'Source Sans Pro';
        left: 12.8rem;
        height: 4.9rem;
        position: absolute;
        top: 13.6rem;
        font-size: 3.6rem;
        line-height: 1.36;
        white-space: nowrap;
        width: 13.7rem;
      }
      .line-1-AFy {
        left: 9.4989rem;
        top: 18.45rem;
        object-fit: contain;
        vertical-align: top;
        width: 39.8rem;
        height: 0.3rem;
        position: absolute;
      }
      .iced-coffee-mocha-frappe-caramel-frappe-lotus-frappe-snickers-frappe-milkshake-vanilla-milkshake-flavors-milkshake-oreo-milkshake-snickers-milkshake-lotus-smoothie-fresh-lemon-mint-ocean-blue-cherry-cola-monte-carlo-green-beach-sgB {
        height: 47.4rem;
        position: absolute;
        left: 1.4rem;
        top: 25.7rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.48;
        width: 17.4rem;
        font-family: Grenze, 'Source Sans Pro';
        color: #ffffff;
      }
      .item-55-60-70-75-75-80-80-80-80-80-40-35-45-35-50-55-GiK {
        left: 32.8rem;
        top: 25.7rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.48;
        color: #ffffff;
        width: 2rem;
        height: 47.4rem;
        position: absolute;
        font-family: Grenze, 'Source Sans Pro';
      }
    }
  }
  .a4-4-sy1 {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:562330127a23cfdd7f44084c0b8257896600bae8');
    flex-shrink: 0;
    height: 84.2rem;
    position: relative;
    overflow: hidden;
    background-size: 100% 100%;

    .logo1-1-be7 {
      left: 2.1rem;
      top: 1.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 31.8rem;
      height: 9.9rem;
      position: absolute;
    }
    .soft-drinks-JHd {
      width: 13.7rem;
      top: 13.6rem;
      font-size: 3.6rem;
      font-family: Grand Hotel, 'Source Sans Pro';
      line-height: 1.36;
      color: #ffffff;
      white-space: nowrap;
      height: 4.9rem;
      position: absolute;
      left: 11.5rem;
      font-weight: 400;
    }
    .line-1-zAT {
      left: 9.4989rem;
      top: 18.45rem;
      object-fit: contain;
      vertical-align: top;
      width: 39.8rem;
      height: 0.3rem;
      position: absolute;
    }
    .pepsi-mirinda-7-up-schweppes-red-bull-small-water-u2X {
      left: 1.1rem;
      top: 34.7rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.48;
      width: 11.4rem;
      height: 17.8rem;
      position: absolute;
      color: #ffffff;
      font-family: Grenze, 'Source Sans Pro';
    }
    .item-20-20-20-20-50-10-nMD {
      height: 17.8rem;
      position: absolute;
      font-size: 2rem;
      line-height: 1.48;
      width: 1.9rem;
      left: 32.9rem;
      top: 34.7rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Grenze, 'Source Sans Pro';
    }
  }
  .a4-5-G1V {
    background-position: center;
    background-image: url('REPLACE_IMAGE:229c34d1a848ce2f1d9452395970004355a42514');
    flex-shrink: 0;
    width: 100%;
    height: 84.2rem;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 1.2rem;
    overflow: hidden;
    background-size: 100% 100%;

    .logo1-1-Pbu {
      left: 2.1rem;
      top: 3.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 31.8rem;
      height: 9.9rem;
      position: absolute;
    }
    .cake-iPH {
      left: 15.3rem;
      font-size: 3.6rem;
      font-family: Grand Hotel, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.4rem;
      height: 4.9rem;
      position: absolute;
      color: #ffffff;
      top: 13.6rem;
      font-weight: 400;
      line-height: 1.36;
    }
    .line-1-6Pq {
      left: 9.4989rem;
      top: 18.45rem;
      object-fit: contain;
      vertical-align: top;
      width: 39.8rem;
      height: 0.3rem;
      position: absolute;
    }
    .honey-cake-cheesecake-blueberry-lotus-molten-cake-op3 {
      line-height: 1.48;
      position: absolute;
      height: 14.8rem;
      left: 2.1rem;
      top: 35.1rem;
      font-size: 2rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Grenze, 'Source Sans Pro';
      width: 11.2rem;
    }
    .item-31-37-39-42-HjD {
      top: 35.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.48;
      color: #ffffff;
      left: 32.2rem;
      height: 14.8rem;
      position: absolute;
      font-family: Grenze, 'Source Sans Pro';
      width: 1.9rem;
    }
  }
  .auto-group-mdtm-Zgj {
    margin: 0 8.2rem;
    width: calc(100% - 16.4rem);
    height: 13.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-y6gf-VKV {
      margin: 0rem 0.8rem 2.1rem 0rem;
      box-sizing: border-box;
      padding: 0 0.4rem;
      width: 5rem;
      height: 9.5rem;
      flex-shrink: 0;

      .frame-8-CDu {
        height: 100%;
        position: relative;
        width: 3.2rem;

        .f-kFR {
          width: 1.7rem;
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 1.48;
          font-family: Grenze, 'Source Sans Pro';
          white-space: nowrap;
          height: 9.5rem;
          position: absolute;
          left: 1.5rem;
          top: 0;
          text-decoration-line: underline;
        }
        .facebook5968764-2-rpF {
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 0;
          top: 2.9rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-mpwf-PJP {
      margin-right: 1.7rem;
      width: 8.1rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .connect-us-815 {
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.48;
        color: #ff5b00;
        font-family: Grenze, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-yxmz-49d {
        margin: 0 0.7rem;
        width: calc(100% - 1.4rem);
        height: 9.5rem;
        position: relative;
        flex-shrink: 0;

        .orion-tech-b9Z {
          width: 6.7rem;
          height: 2.1rem;
          top: 4.3rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.48;
          font-family: Grenze, 'Source Sans Pro';
          position: absolute;
          left: 0;
          color: #ffffff;
          white-space: nowrap;
        }
        .frame-10-HYB {
          width: 4.5rem;
          height: 9.5rem;
          position: absolute;
          left: 1.3rem;
          top: 0;

          .instagram2111463-2-oFd {
            left: 0.5rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 3rem;
            height: 3rem;
            position: absolute;
          }
          .m-j9H {
            height: 9.5rem;
            left: 0;
            line-height: 1.48;
            text-decoration-line: underline;
            white-space: nowrap;
            width: 4.5rem;
            position: absolute;
            top: 0;
            font-size: 6.4rem;
            font-weight: 400;
            color: #000000;
            font-family: Grenze, 'Source Sans Pro';
          }
        }
      }
    }
    .frame-9-8aj {
      width: 4rem;
      height: 9.5rem;
      position: relative;
      flex-shrink: 0;
      margin-top: 3.7rem;

      .w-s2X {
        white-space: nowrap;
        width: 4rem;
        left: 0;
        top: 0;
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.48;
        text-decoration-line: underline;
        height: 9.5rem;
        position: absolute;
        font-family: Grenze, 'Source Sans Pro';
      }
      .whatsapp5968841-2-PmZ {
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
}
